<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
</head>  
<body>  
<h2>Welcome to Django!!!</h2>  
<h2>Add new question</h2>
 {% csrf_token %}
<form action="{% url 'polls:add' %}" method="get">
    
            <span>Question:</span><br/>
            <input id="question_text" type="text" name="question_text"/><br/>
            <input type="submit" value="Add"/>
        </form>

<h2>Your questions:</h2>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    <form action='delete/' method="POST">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{question.id}}" />
        <input type="submit" value="Delete"/>
    </form>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<br>
<form action='logout/' method="POST">
    {% csrf_token %}
    <input type="submit" value="Logout"/>
</form>
</body>  
</html>  

